.background{
  background-color:rgba(7, 6, 7, 0.1);
  
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:-1;
}
.bg-opaque{
  background:rgba(234, 230, 230, 0.5)
}
